.trolleys__container {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 2rem;
}
.trolleys__container .trolleys__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: 0;
  padding-inline: 0;
}
.trolleys__header .trolleys__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: var(--primary-color);
}
.trolleys__header img {
  max-width: 4rem;
  align-self: flex-end;
}

@media (min-width: 360px) and (max-width: 784px) {
  .trolleys__container .trolleys__header img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trolleys__container .trolleys__menu {
    padding: 0.5rem;
    background-color: var(--yellow-color);
  }
  .trolleys__container .menu__container {
    align-self: center;
    min-width: 100%;
  }
  .trolleys__header .trolleys__title {
    font-size: var(--subtitle-font-size);
    color: var(--primary-color);
  }
  .trolleys__menu a {
    font-size: 1rem;
    color: var(--primary-color);
  }
  .trolleys__menu a.active {
    padding: 0.7rem;
    min-width: 8rem;
  }
}
@media (min-width: 290px) and (max-width: 375px) {
  .trolleys__container {
    padding-inline: 1rem;
  }

  .trolleys__container .trolleys__header {
    padding-inline: 0;
  }
}
