.category__container {
  display: flex;
  flex-direction: column;
}
.category__header {
  background-color: var(--yellow-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 2rem;
}
.category__header img {
  max-width: 4rem;
  align-self: flex-end;
}
.category__header .category__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: var(--primary-color);
}
.category__container .category__sub__title {
  padding-inline: 2rem;
  padding-block-start: 2rem;
  color: var(--primary-color);
}
