@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --primary-color: #3a307c;
  --secondary-color: #9a9cb6;
  --yellow-color: #ffdf6b;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #d1d1d1;
  --light-gray-color: #efeeee;
  --red-color: #ff5757;
  --green-color: #53a865;
  --error-message-color: #af1212;
  --title-font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  height: 100%;
}
