.prepared__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 2rem;
}
.prepared__container .prepared__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.prepared__list .prepared__item__box {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  width: 42rem;
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 1rem;
}
.prepared__list .prepared__item__box__wineSpritz {
  background-color: var(--yellow-color);
}
.prepared__list .prepared__item__box__fresh {
  background-color: var(--secondary-color);
}
.prepared__list .prepared__item__box__frozen {
  background-color: var(--primary-color);
}
.prepared__list .prepared__item__box__fruit-veg {
  background-color: var(--yellow-color);
}
.prepared__item__box .left__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.left__items .image__box {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 50%;
}

.left__items .prepared__text {
  color: var(--white-color);
}
.prepared__item__box .right__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.right__items .item__count {
  font-size: 36px;
  color: var(--white-color);
}
.right__items .button__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: var(--red-color);
}
.button__items svg {
  font-size: 2rem;
}
.button__items .cancel {
  color: var(--red-color);
  border: none;
  background: transparent;
}

.prepared__container .undraw {
  margin-left: -4rem;
}

@media screen and (min-width: 360px) and (max-width: 784px) {
  .prepared__list .prepared__item__box {
    padding-inline: 1rem;
    padding-block: 1rem;
    width: 20rem;
  }
  .prepared__item__box .right__items .item__count {
    font-size: 25px;
    font-weight: bold;
  }
}

@media (min-width: 800px) {
  .prepared__list .prepared__item__box {
    padding-inline: 1rem;
    padding-block: 1rem;
    width: 42rem;
  }
  .prepared__item__box .right__items .item__count {
    font-size: 25px;
    font-weight: bold;
  }
}
